body {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    position: relative;
    line-height: 1.4;
    color: #333;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}


.page.main {
    padding-top: 121px;
}

.page {
    padding-top: 123px;
    width: 100%;
    position: relative;
}

 .container {
    width: 100%;
    max-width: 1070px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1009;
    background: #FFF;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0 0 5px 0px #717171;
}

header .container .container-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header .container .container-inner .block-left {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

header .container .container-inner .logo {
    position: relative;
    z-index: 999;
    height: 100%;
    padding-right: 5px;
    text-align: center;
}

a, a:link, a:visited {
    color: #0062C4;
    text-decoration: none;
}

header .container .container-inner .logo img {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

header .container .container-inner .menu ul.nav_top {
    height: 100%;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1100px) {
    header .container .container-inner .menu ul.nav_top {
        display: none;
    }
}


ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .container .container-inner .menu ul.nav_top li a {
    display: block;
    padding: 0 5px;
    margin: 0 5px;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
    line-height: 30px;
    text-transform: uppercase;
}

header .container .container-inner .box-user {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
}

header .container .container-inner .box-user ul.nav_user {
    height: 100%;
    display: flex;
}

header .container .container-inner .box-user ul.nav_user li a.add-new.t {
    float: left;
}

header .container .container-inner .box-user ul.nav_user li a.add-new {
    padding: 0 15px;
    color: #FFF;
}

header .container .container-inner .box-user ul.nav_user li a {
    display: block;
    padding: 0 5px;
    margin: 0 5px;
    color: #333;
    white-space: nowrap;
    line-height: 30px;
}

.btn.red {
    background: #E74C3C;
    border-radius: 5px;
}

.clear {
    clear: both;
}



header .block-search .block-inner {
    position: fixed;
    width: 100%;
    background-color: #0062C4;
    height: 55px;
    margin: 0px;
    top: 60px;
    left: 0px;
}

header .block-search .block-inner .box-search {
    padding: 10px 8px 10px 0;
    max-width: 300px;
}

header .block-search .block-inner .box-search #top-search {
    display: block;
    position: relative;
}

header .block-search .block-inner .box-search #top-search .search-form-label {
    background-color: #FFF;
    display: block;
    padding: 2px 45px 2px 4px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    position: relative;
}

header .block-search .block-inner .box-search #top-search .search-form-label #search {
    height: 36px;
    outline: none;
    width: 100%;
    color: #000000;
    display: block;
    line-height: 16px;
    height: 28px;
    border: 0;
}
header .block-search .block-inner .box-search #top-search .search-form-label .icon {
    outline: rgb(201, 198, 198);
    color: #fff;
    width: 14%;
    text-align: center;
    line-height: 19px;
    border: 1px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
}

#main-body {
    min-height: 400px;
    z-index: 1;
}

.block.block-vip {
    padding-bottom: 20px;
}


.container .header.vip {
    color: #f13340;
}

.container .header {
    text-align: left;
    padding: 20px 0 0 0;
    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 5px;
}

.hostel.hostel-list.vip .modulecontent {
    margin: 0 -8px;
}

.hostel.hostel-list .modulecontent {
    display: flex;
    flex-wrap: wrap;
}

.modulecontent {
    padding: 10px 0;
    background: #FFF;
    position: relative;
}

.hostel.hostel-list .item {
    width: calc(100% / 4);
    margin-top:  16px;
    text-align: center;
    height: auto;
}

@media only screen and (max-width: 1100px) {
    .hostel.hostel-list .item {
        width: calc(100% / 3);
    }
}

@media only screen and (max-width: 900px) {
    .hostel.hostel-list .item {
        width: calc(100% / 2);
    }
}

.hostel.hostel-list .item.vip .border {
    border: 1px solid rgba(241, 51, 64, 0.5);
}

.hostel.hostel-list .item .border {
    margin: 8px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    overflow: hidden;
}
.hostel.hostel-list .item .border .image {
    width: 100%;
    position: relative;
    background-color: #eeeeee;
    background-repeat: no-repeat;
}
.hostel.hostel-list .item.vip .border .image a {
    padding-top: 80%;
}

.hostel.hostel-list .item .border .image a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: calc(100% * 9/16);
    background-size: cover;
    background-position: center;
    z-index: 1;
}



.hostel.hostel-list .item .border .info {
    flex-grow: 1;
    padding: 15px 8px 10px;
    background: #FFF;
    z-index: 2;
}

.hostel.hostel-list .item .border .info .published {
    display: block;
    float: right;
    text-align: right;
    margin-top: 2px;
    font-size: 12px;
}

.hostel.hostel-list .item .border .info .local {
    display: block;
    text-align: left;
    color: #4c4c4c;
}

.hostel.hostel-list .item .border .info .local .fa {
    margin: 0 1px 0 2px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hostel.hostel-list .item .border .info .local a {
    color: #4c4c4c;
}

.hostel.hostel-list .item .border .info .title {
    padding: 0;
    height: 50px;
    overflow: hidden;
    text-align: left;
    margin: 5px 0;
}

h4 {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}

.hostel.hostel-list .item .border .info .title.vip a {
    color: #f13340;
}

.hostel.hostel-list .item .border .info .title a {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.hostel.hostel-list .item .border .info .title .fa {
    color: green;
    margin: 0 -2px 0 1px;
}


.hostel.hostel-list .item .border .info .price-area {
    display: flex;
    text-align: left;
    align-items: flex-end;
    padding: 5px 0;
}
.hostel.hostel-list .item .border .info .price-area.vip .price {
    margin: 0;
}

.hostel.hostel-list .item .border .info .price-area .price {
    text-align: left;
    margin-right: 50px;
}

.hostel.hostel-list .item .border .info .price-area .price span {
    background: #fff;
    padding: 0;
    position: relative;
    z-index: 5;
    font-size: 18px;
    color: #0062C4;
    display: inline-block;
}

.hostel.hostel-list .item .border .info .price-area .price i {
    font-size: 10pt;
    color: #909090;
    height: 22px;
    font-style: normal;
}

.hostel.hostel-list .item .border .info .price-area.vip .area {
    display: none;
}

.hostel.hostel-list .item .border .info dl {
    margin: 5px 0 0 0;
    justify-content: space-between;
}

dl {
    margin: 0 0 15px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

dl, dd, dt {
    font-weight: normal;
}

.hostel.hostel-list .item .border .info dl.area dt {
    display: flex;
    align-items: center;
}

dl dt {
    min-width: 80px;
    text-align: left;
}

.hostel.hostel-list .item .border .info dl.area .fa {
    font-size: 12px;
    margin-right: 5px;
}

#main-body .block-vip .viewmore {
    margin-top: 20px;
}

.hostel.hostel-list .item .border .info dl {
    margin: 5px 0 0 0;
    justify-content: space-between;
}

@media only screen and (max-width: 1440px){
    #bottom {
        padding-right: 8px;
    }
}


#bottom {
    display: flex;
}

.box-block-group {
    width: calc(100% - 300px);
    padding-right: 20px;
}

@media only screen and (max-width: 900px){
    .box-block-group {
        width: 100%;
    }
}

.box-block-group > .block {
    margin-bottom: 20px;
}

.container .header.hot {
    color: #ff7930;
}

.hostel.hostel-list.hot .modulecontent {
    padding-bottom: 0px;
}

.hostel.hostel-list .item.column {
    width: 100%;
    padding: 0 0 10px;
    margin: 0 0 10px;
    /* border-bottom: 1px solid #dedede; */
}

.hostel.hostel-list .item.hot .border {
    border: 1px solid rgba(255, 121, 48, 0.5);
}

.hostel.hostel-list .item.column .border {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    /* border: 0; */
    /* border-radius: 0; */
}

.hostel.hostel-list .item.column .border .image {
    width: 35%;
    min-width: 150px;
    border: 0;
    border-radius: initial;
    overflow: hidden;
}

.hostel.hostel-list .item.column .border .image a {
    padding-top: calc(100% * 9/16);
}

.hostel.hostel-list .item.column .border .info {
    width: 60%;
    max-width: calc(100% - 150px);
    border: 0;
    padding: 10px;
    border-radius: initial;
}

.hostel.hostel-list .item.column .border .info .title {
    height: initial;
}

.hostel.hostel-list .item .border .info .title.hot a {
    color: #ff7930;
}

.hostel.hostel-list .item .border .info .title a {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* font-size: 15px; */
}

.hostel.hostel-list .item.column .border {
    margin: 0px;
}

.sidebar {
    width: 100%;
    width: 300px;
    will-change: min-height;
}

#bottom #sidebar .sidebar__inner {
    padding-bottom: 20px;
}

.sidebar .sidebar__inner {
    display: inline-block;
    width: 100%;
    position: relative;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}

@media only screen and (max-width: 900px) {
    .sidebar  {
        display: none;
    }
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

#bottom .box {
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    overflow: hidden;
}

.box {
    position: relative;
}

.box-header {
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}
#bottom .box .box-header .box-title {
    width: 100%;
    background-color: #0062C4;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
   
.box-title {
    position: relative;
    padding: 10px 0;
    width: fit-content;
    margin: auto;
    font-size: 25px;
    color: #0062C4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
h2 {
    line-height: 1.5;
    font-size: 20px;
}

#bottom .box.box-province .box-body, #bottom .box.box-form_type .box-body {
    padding: 16px;
}

#bottom .box.box-province .item, #bottom .box.box-form_type .item {
    padding: 2px 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ads {
    height: 5px;
    width: 100%;
    background-color: #eaeaea;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.news .news-header {
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}

.news .news-header .header-title {
    align-items: flex-start;
    position: relative;
    padding: 10px 0;
    font-size: 25px;
    color: #f13340;
    display: flex;
    font-weight: 500;
}

.news .news-content {
    width: 80%;
}

.news .news-content .item {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 140px;
    padding-bottom: 20px;
    border-bottom: 1px solid #4b4646;
}

.news .news-content .item .image a img{
    width: 220px;
    height: 140px;
    float: left;
    margin-right: 15px;
}

.news .news-content .item .content {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 140px;
}

.news .news-content .item .content .title {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
}

.news .news-content .item .content .published {
    display: block;
    text-align: left;
    margin: 5px 0;
    color: #777;
}

.news .news-content .item .content .description {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: initial;
}

.box-contact {
    padding-top: 20px;
    position: relative;
    border-top: 1px solid #34495e;
    margin-top: 30px;
}



.box-contact .box-body {
    padding: 0px;
}

.box-contact .container .box-header {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.box-contact .container .box-header .box-title {
    background-color: #FFF;
    color: #0062C4;
    position: relative;
    padding: 10px 0;
    width: fit-content;
    margin: auto;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-contact .description {
    text-align: center;
    font-size: 16px;
}

.box-contact .box-body .inner {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.box-contact .box-body .inner .item {
    width: calc(100% / 4);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: auto;
    align-content: flex-start;
    transition: all .5s ease-in-out;
    border: 0px;
    padding: 0px;
}

@media only screen and (max-width: 1100px) {
    .box-contact .box-body .inner .item {
        width: calc(100% / 2);
    }
}

.box-contact .box-body .inner .item .image {
    width: 100%;
    padding: 0;
    text-align: center;
}

.box-contact .box-body .inner .item .image img {
    max-width: 100px;
}

.box-contact .box-body .inner .item .content {
    width: 100%;
    text-align: center;
}

.box-contact .box-body .inner .item .content .title {
    font-size: 17px;
}

footer.show {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.show {
    display: block;
}

footer {
    padding: 30px 0 0 0;
    border-top: 1px solid #dcdcdc;
    background-color: #f8f8f8;
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    z-index: 988;
    transition: 0.3s all ease;
}

footer .footer-info .inner .footer-logo {
    display: block;
    width: 200px;
}

footer .footer-info .inner .footer-logo img {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}


footer .footer-info .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer .footer-info .container .inner .content {
    width: calc(100% - 160px);
    max-width: 800px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .footer-info .container .inner .content .block {
    padding-right: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    footer .footer-info .inner .content .block {
        width: calc(100% / 3);
        padding: 0px 10px;
    }
}

footer .footer-info .inner .content .block h2 {
    font-size: 17px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

footer .footer-info a, footer .footer-info h2, footer .footer-info li {
    color: #34495e;
    font-size: 15px;
}
footer .footer-info a, footer .footer-info h2, footer .footer-info li {
    color: #34495e;
    font-size: 15px;
}

.copyright .container {
    width: 100%;
    max-width: 1070px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    text-align: center;
}

